*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url('../img/fundo.jpg');
    background-size: 100vw 100vh;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    height: 100vh;
    font-size: 10px;
 }

 @media (min-width: 400px) {/* se a tela tiver pelo menos 400px, funciona como o IF*/
    body{
        font-size: 14px;
    }
 }

  header {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
 }

  .menu{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .menu a{
    display: block;
    padding: 10px 20px;
  }
  
  .menu ul{
    display: flex; /*flex força elementos a virarem colunas*/
    justify-content: space-around; /*justify so funciona em conjunto com display*/
  }
  .menu li{
    list-style: none;
     
  }
  
  a{
    color: teal;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: #FF8000;
    text-align: center;
    
  } 
  
  .site-title{
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
  }
  .site-subtitle{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
  }

  .portfolio{
    padding: 2em;
    height: 100vh;
  } 

  .portfolio h2{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
  }
  
  .portfolio .grid{
    display: grid;/*grid usa para colunas controladas*/
    gap: 2em;
    
  }

  @media (min-width: 560px){
    .portfolio .grid{
      grid-template-columns: 240px 240px;
      justify-content: center;
    }
  }

  @media (min-width: 880px){
    .portfolio .grid{
      grid-template-columns: repeat(3, 240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 2em - 48px - 1.5em);
      background-color: whitesmoke;
    }
  }
  .portfolio figure{
    text-align: center;
  }

  .img-portfolio{
      height: 180px;
      width: 240px;
  }
  